MAIN_ICON ICON "auto_core.ico"

#ifdef AC_VERSIONINFO

#include <winver.h>
#include "ac_version_metadata.h"

#ifndef AC_FILE_DESCRIPTION
#error ac_version_metadata.h must define AC_FILE_DESCRIPTION
#endif
#ifndef AC_INTERNAL_NAME
#error ac_version_metadata.h must define AC_INTERNAL_NAME
#endif
#ifndef AC_ORIGINAL_FILENAME
#error ac_version_metadata.h must define AC_ORIGINAL_FILENAME
#endif
#ifndef AC_PRODUCT_NAME
#define AC_PRODUCT_NAME "Auto Core"
#endif

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS 0
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "Djdinn Dev"
            VALUE "FileDescription", AC_FILE_DESCRIPTION
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", AC_INTERNAL_NAME
            VALUE "OriginalFilename", AC_ORIGINAL_FILENAME
            VALUE "ProductName", AC_PRODUCT_NAME
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

#endif
